.content {
	width: 100%
}

.content .floor {
	width: 100%;
	background-color: #333;
	z-index: 2;
	overflow: hidden;
	background-size: cover!important
}

.content .floor .f-con {
	position: relative;
	width: 1190px;
	height: 100%;
	margin: 0 auto
}

.content .f-con .desc .tag {
	height: 22px;
	line-height: 22px;
	padding-left: 14px;
	border-left: 4px solid #e51d24;
	color: #e51d24;
	font-size: 20px
}
.content .banner-slider {
	position: relative;
	width: 100%;
	height: 652px;
	overflow: hidden
}

.content .top-banner-list .banner-item {
	width: 100%;
	height: 650px;
	background: no-repeat center center;
	overflow: hidden;
}

.content .top-banner-list .banner-item a {
	display: block;
	height: 100%
}

.content .top-banner-list .banner-item .banner-con {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto
}

.content .banner-1 img {
	position: absolute
}

.content .banner-1 h1 {
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	line-height: 80px;
	position: absolute;
	top: 85px;
	left: 445px
}

.content .banner-1 p {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 180px;
	left: 500px
}

.content .banner-3 h1 {
	color: #000;
	font-size: 38px;
	font-weight: 700;
	line-height: 80px;
	position: absolute;
	top: 85px;
	left: 445px
}

.content .banner-3 p {
	color: #000;
	font-size: 20px;
	position: absolute;
	top: 180px;
	left: 500px
}

.content .banner-2 h1 {
	color: #000;
	font-size: 45px;
	text-align: right;
	padding-top: 222px;
	padding-right: 146px;
	font-weight: 700
}

.content .banner-2 h2 {
	color: #fff;
	font-size: 24px;
	position: absolute
}

.content .banner-2 img {
	position: absolute
}

.content .banner-2 p {
	color: #000;
	font-size: 20px;
	text-align: right;
	margin-top: 30px;
	padding-right: 195px
}

.content .top-banner-arrow .prev {
	position: absolute;
	width: 40px;
	height: 76px;
	margin: -26px 0 0 82px;
	display: block;
	background: url(http://www.heivr.com/pic/left-arrow.png) no-repeat;
	top: 50%;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	cursor: pointer
}

.content .top-banner-arrow .next {
	position: absolute;
	width: 40px;
	height: 76px;
	display: block;
	background: url(http://www.heivr.com/pic/right-arrow.png) no-repeat;
	top: 50%;
	right: 82px;
	margin-top: -26px;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	cursor: pointer
}

.banner-slider:hover .prev {
	opacity: .8;
	filter: alpha(opacity=25)
}

.banner-slider:hover .next {
	opacity: .8;
	filter: alpha(opacity=25)
}

.banner-slider:hover .next:hover,.banner-slider:hover .prev:hover {
	opacity: 1;
	filter: alpha(opacity=50)
}

.content .banner-slider .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center
}

.content .banner-slider .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s,opacity .5s;
	-moz-transition: background .5s,opacity .5s;
	transition: background .5s,opacity .5s
}

.content .banner-slider .dots li.active {
	background: #fff;
	opacity: 1
}


.content .floor {
	background-color: #fff
}

.content .real-show {
	width: 1190px;
	margin: 54px auto 0
}

.content .real-cate-list {
	margin-left: 120px;
	padding-bottom: 33px;
	border-bottom: 1px solid #f0f0f0
}

.content .real-cate-list .real-item {
	margin-right: 50px;
	width: 151px;
	height: 31px;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	line-height: 31px;
	text-align: center;
	font-size: 18px;
	color: #353637;
	cursor: pointer
}

.content .real-cate-list .real-item.sel {
	color: #fff;
	background-color: #008bed;
	border-color: #008bed
}

.content .real-show .real-cases {
	padding: 80px 0 140px;
	margin: auto
}


.content * {
	margin: 0;
	padding: 0
}


.fl {
	float: left
}

.fr {
	float: right
}